section.declaration_footer
  .declaration_footer_warper(data-aos='fade-up', data-aos-duration='1000')
    p.flag
      | wanna create stunning website now ?!

    p.flag
      | so, purchase now. i's only costs $59 !!

    .container
      p.heading_description
        | proudly... we are one of the best companies can proved a heigh quality internet sites :)

      button.purchasing_btn
        | purchase now !

  .declaration_footer_helpers
    .row.customizedRow
      .col.item_border
        a(href="#")
          .item
            .item_one.item_container
        //- | one

      .col.item_border
        a(href="#")
          .item
            .item_tow.item_container
        //- | tow

      .col.item_border
        a(href="#")
          .item
            .item_three.item_container
        //- | three
