section.featured_trusted
  .container
    h2 featured and trusted
    p.heading_description featured and trusted deals with a bunch of international companies.

    .trusted_companies
      .row
        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_1
              //- | company logo

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_2

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_3

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_4

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_5

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_6

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_7

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_8

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_9

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_10

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_11

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_12

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_13

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_14

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_15

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_16

        .col-lg-2.col-md-2.col-sm-6(data-aos='zoom-out')
          .trust_me.trust_17
