section.gallery_container#mixGallery_elements
    //- this class [customized_row] for set paddings in bootstrap row.
    .row.customizedRow 
      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.creative
        a(href='#', class='obj_destination')
          .obj_body.obj_1
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Amigos

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.classic
        a(href='#', class='obj_destination')
          .obj_body.obj_2
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Antique

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.overlay
        a(href='#', class='obj_destination')
          .obj_body.obj_3
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Apollo

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.classic
        a(href='#', class='obj_destination')
          .obj_body.obj_4
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Astro
      
      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.shop
        a(href='#', class='obj_destination')
          .obj_body.obj_5
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Atlantis

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.blog
        a(href='#', class='obj_destination')
          .obj_body.obj_6
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Aurora

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.overlay
        a(href='#', class='obj_destination')
          .obj_body.obj_7
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Balto

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.scroll
        a(href='#', class='obj_destination')
          .obj_body.obj_8
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Barcelona

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.lateral
        a(href='#', class='obj_destination')
          .obj_body.obj_9
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Barney

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.creative
        a(href='#', class='obj_destination')
          .obj_body.obj_10
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Barracuda

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.portfolio
        a(href='#', class='obj_destination')
          .obj_body.obj_11
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Batman

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.frame
        a(href='#', class='obj_destination')
          .obj_body.obj_12
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bender
      
      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.topMenu
        a(href='#', class='obj_destination')
          .obj_body.obj_13
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bigfish

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.offcanvas
        a(href='#', class='obj_destination')
          .obj_body.obj_14
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bigfoot

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.onePage
        a(href='#', class='obj_destination')
          .obj_body.obj_15
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bladerunner

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.portfolio
        a(href='#', class='obj_destination')
          .obj_body.obj_16
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Blue Moon

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.scroll
        a(href='#', class='obj_destination')
          .obj_body.obj_17
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Blue Skywalkers

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.offcanvas
        a(href='#', class='obj_destination')
          .obj_body.obj_18
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bongo

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.shop
        a(href='#', class='obj_destination')
          .obj_body.obj_19
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bordeaux

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.blog
        a(href='#', class='obj_destination')
          .obj_body.obj_20
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bride of Buster

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.lateral
        a(href='#', class='obj_destination')
          .obj_body.obj_21
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bulldozer

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.offcanvas
        a(href='#', class='obj_destination')
          .obj_body.obj_22
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Bullwinkle

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.onePage
        a(href='#', class='obj_destination')
          .obj_body.obj_23
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Business as Unusual

      .object_holder.col-xl-3.col-lg-3.col-md-4.col-sm-6.col-xs-12.mix.frame
        a(href='#', class='obj_destination')
          .obj_body.obj_24
            .gallery_item_layer
              i.far.fa-gem.fa-lg
          .obj_title
            h4 Camelot
