header#header
  .container
    .header_warper(data-aos='flip-right')
      h1 
        | you deserve a stunning design and heigh 
        span UI and UX
        | methods !

      p.heading_description
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quisquam quas cumque debitis perferendis, magni consequuntur? Molestiae saepe quod at placeat? Commodi eum voluptatibus ad!

    button.purchasing
      | purchase now
