section.showcase
  .container
    h2 showcase
    p.heading_description meet some awesome designs created by our professional team.

  .showcase_container
    .swiper-container
      .swiper-wrapper
        .showcase_item.swiper-slide
          .showcase_body.item_body_1
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_2
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_3
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_4
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_5
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_6
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_7
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_8
          .showcase_title
            h5 tom robak

        .showcase_item.swiper-slide
          .showcase_body.item_body_9
          .showcase_title
            h5 tom robak

      .swiper-pagination
  button.all_showcase(data-aos='flip-up')
    | view all showcases
