section.top_features
  .row.customizedRow
    .feat.feat_one.col-lg-4.col-sm-6.col-xs-12
      h2
        | feat 1

      p
        | Lorem ipsum dolor sit amet.

      .feat_img.feat_one_img

    .feat.feat_four.col-lg-4.col-sm-6.col-xs-12
      h2
        | feat 2

      p
        | Lorem ipsum dolor sit amet.

      .feat_img.feat_tow_img

    .feat.feat_three.col-lg-4.col-sm-12.col-xs-12
      h2
        | feat 3

      p
        | Lorem ipsum dolor sit amet.

      .feat_img.feat_three_img
