nav.gallery_nav
  .container
    ul
      li(data-filter='all' class='galleryNaveElActive') show all
      li(data-filter='.classic') classic
      li(data-filter='.creative') creative
      li(data-filter='.portfolio') portfolio
      li(data-filter='.blog') blog
      li(data-filter='.shop') shop
      li(data-filter='.topMenu') top menu
      li(data-filter='.overlay') overlay
      li(data-filter='.lateral') lateral
      li(data-filter='.offcanvas') offcanvas
      li(data-filter='.frame') frame
      li(data-filter='.onePage') onepage
      li(data-filter='.scroll') slide scroll

  span.gallery_flag
    i.fas.fa-filter
    | filter designs

.sub_gallery_nav
  p
    i.far.fa-gem
    | meet our awesome work !
