footer
  .footer_container
    .footer_icons
      ul
        li
          a(href="#")
            i.fab.fa-facebook-f
        li
          a(href="#")
            i.fab.fa-twitter
        li
          a(href="#")
            i.fab.fa-linkedin-in
        li
          a(href="#")
            i.fab.fa-instagram
        li
          a(href="#")
            i.fab.fa-pinterest-p
        li
          a(href="#")
            i.fab.fa-dribbble
