nav.sudo_nav
  section.logo
    .logo_container
      +lightSiteName
  
  section.lists
    ul
      li 
        i.fas.fa-home
        | Home

      li Gallery
      li Work Techniques
      li Models
      li Featured and trusted

  button.close_control
    span#bar_one
    span#bar_tow
    span#bar_three
