mixin siteName
  span.brand
    a(href='mailto:ahmedsalihdev@gmail.com')
      | unCode

mixin lightSiteName
  span.brand
    a(href='#')
      | unCode


mixin author
  span.author(title='Ahmed Salih')
    a(href='https://ahmedsalih.netlify.com')
      | @codev
